body{
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}
header{
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 3px #000;
}
header li{
    display: inline;
    padding-left: 45px;
}
header li a{
    color: #000;
    text-decoration: none;
    padding: 13px;
    transition: 0.3s ease;
}
header li a:hover{
    color: royalblue;
}
header ul #contact a{
    color: #fff;
    background-color: royalblue;
    border-radius: 30px;
    float: right;
    position: relative;
    top: -15px;
    transition: 0.3s ease;
}
header ul #contact a:hover{
    background-color: goldenrod;
}
header li img{
    width: 250px;
    float: left;
    margin-top: -110px;
}
.active{
    color: royalblue;
}